@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-symphony-dark text-white font-mono;
    margin: 0;
    padding: 0;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-symphony-purple rounded;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-purple-600;
  }
}